<form
  *ngIf="!loading"
  #postForm="ngForm"
  (ngSubmit)="onSubmit(postForm)"
  style="margin:50px;"
>
  <div class="input-field">
    <label for="title">Title</label>
    <input
      type="text"
      class="validate"
      name="title"
      [(ngModel)]="post.title"
      required
    />
    <span class="helper-text" data-error="Title must not be empty"></span>
  </div>
  <div class="input-field">
    <label for="body">Body</label>
    <input
      type="text"
      class="validate"
      name="body"
      [(ngModel)]="post.body"
      required
    />
    <span class="helper-text" data-error="Body must not be empty"></span>
  </div>
  <button
    type="submit"
    class="waves-effect waves-light btn"
    [disabled]="!postForm.valid"
  >
    Add
  </button>
</form>

<div class="progress" *ngIf="loading">
  <div class="indeterminate"></div>
</div>
